<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>serve</display-name>
    <servlet-name>serve</servlet-name>
    <servlet-class>project4.serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  <display-name>project4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletP</display-name>
    <servlet-name>ServletP</servlet-name>
    <servlet-class>project4.ServletP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletP</servlet-name>
    <url-pattern>/ServletP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNew</display-name>
    <servlet-name>ServletNew</servlet-name>
    <servlet-class>project4.ServletNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNew</servlet-name>
    <url-pattern>/ServletNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDel</display-name>
    <servlet-name>ServletDel</servlet-name>
    <servlet-class>project4.ServletDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDel</servlet-name>
    <url-pattern>/ServletDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>project4.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>project4.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNuser</display-name>
    <servlet-name>ServletNuser</servlet-name>
    <servlet-class>project4.ServletNuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuser</servlet-name>
    <url-pattern>/ServletNuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>project4.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>project4.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
</web-app>